<h3>{{answer.author}} says:</h3>
<p>{{answer.body}}</p>

{{#link-to 'favorite-answers'}}<button {{action 'addToFavorites' answer}}{{action 'favoriteButtonShow'}} class="btn btn-success btn-lg">Favorite</button>{{/link-to}}
<br>
{{upvote-answer answer=answer upvote="upvote"}}
<br>
<p>Upvote count:{{answer.votes}}</p>
