<h3>{{answer.author}} says:</h3>
<p>{{answer.body}}</p>


{{#if addToFavorites}}
  <p>This answer has been favorited!</p>
  {{else}}
  <button {{action 'addToFavorites' answer}}{{action 'favoriteButtonShow'}} class="btn btn-success btn-lg">Favorite</button>
{{/if}}
